/* @group reset */
/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group structure */

html {
	background: #fff url(../images/body-bg.jpg) repeat top center;
	overflow-y: scroll;
}

body {
	font: 62.5% "Palatino", "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
	color: #333;
	margin: 0 10%;
}

body::before, body::after {
	position: fixed;
	z-index: 99;
	display: block;
	content: "";
	height: 8px;
	background-color: rgba(50, 50, 50, 0.05);
	left: 8px;
	right: 8px;
}

body::before {
	top: 0;
}

body::after {
	bottom: 0;
}

.frame {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 8px;
	background-color: rgba(50, 50, 50, 0.05);
}

#left-frame {
	left: 0;
}

#right-frame {
	right: 0;
}

img {
	max-width: 100%;
	height: auto !important;
}

/* @end */

/* @group header */

[role="banner"] {
	width: 100%;
	margin: 15px 0 20px;
	border-bottom: 1px solid #d4d4d4;
	overflow: hidden;
}

[role="banner"] hgroup {
	float: right;
}

[role="banner"] h1 a:link, [role="banner"] h1 a:active, [role="banner"] h1 a:visited {
	display: block;
	color: #333;
	text-decoration: none;
	font: 5.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: -1px -1px 0px #fff;
	filter: dropshadow(color=#fff, offx=-1, offy=-1);
}

[role="banner"] h1 a:focus {
	outline: thin dotted;
}

[role="banner"] h1 a:hover {
	color: #ea44a5;
	text-shadow: -1px -1px 0px #333;
	filter: dropshadow(color=#333, offx=-1, offy=-1);
	text-decoration: none;
}

[role="banner"] h2 {
	font-size: 1.8em;
}

/* @group nav */

nav {
	overflow: hidden;
	float: left;
	margin: 67px 0 15px;
}

nav ul {
	float: left;
	width: 100%;
	margin-bottom: px;
}

nav ul li {
	display: inline-block;
	margin-left: 1.5em;
	padding-left: 1.5em;
	border-left: 1px solid #d4d4d4;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:active {
	color: #333;
	font-size: 1.6em;
	text-decoration: none;
}

nav ul li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

nav ul li a:focus {
	outline: thin dotted;
}

nav ul li a:hover, nav ul li.current a {
	color: #ea44a5;
}

/* @end */

/* @group hero */

.hero {
	overflow: hidden;
	text-align: center;
	font-size: 3.6em;
	color: #565656;
	margin: 35px 0 20px;
	padding: 0 0 30px;
	border-bottom: 1px solid #d4d4d4;
}

@-webkit-keyframes slideDown {
	0% {
		margin-top: -500px;
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@-moz-keyframes slideDown {
	0% {
		margin-top: -500px;
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

.home .hero p {
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-moz-animation-name: slideDown;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
}

.hero a:link, .hero a:active, .hero a:visited {
	color: #afafaf;
	color: rgba(126, 126, 126, 0.55);
	text-decoration: none;
}

.hero a:hover {
	color: #333;
	text-decoration: underline;
}

/* @end */

/* @end */

/* @group content */

[role="main"] {
	float: left;
	width: 63%;
}

.main a:link, .main a:active, .main a:visited {
	color: #ea44a5;
	text-decoration: none;
}

.main a:focus {
	outline: thin dotted;
}

.main a:hover {
	color: #ea44a5;
	text-decoration: underline;
}

.main .massive, .main h1 {
	font-size: 2.5em;
	margin: 0 0 12px;
	color: #ea44a5;
}

.archive .main h1 {
	color: #333;
}

.main .page h1 {
	font-size: 4.0em;
}

.main .huge, .main h2 {
	font-size: 3.0em;
	padding: 5px 0 10px;
} 

.main .large, .main h3 {
	font-size: 2.6em;
	padding: 5px 0 10px;
} 

.main .bigger, .main h4 {
	font-size: 2.2em;
	padding: 5px 0 10px;
}

.main h5 {
	font-size: 1.9em;
	padding: 5px 0 8px;
}

.main h6 {
	font-size: 1.6em;
	padding: 5px 0 8px;
}

.main p {
	margin-bottom: 20px;
	font-size: 1.4em;
	line-height: 1.4em;
}

.main blockquote {
	padding-left: 32px;
	border-left: 2px solid #ccc;
}

.main ul {
	margin: 0 0 15px 30px;
}

.main ul li {
	list-style-type: square;
}

.main ol {
	margin: 0 0 15px 30px;
	list-style-type: decimal;
}

.main ol li {
	list-style-type: decimal;
}

.main li {
	margin-bottom: 5px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.main li li {
	font-size: 1em;
}

article {
	margin: 0 0 75px;
}

article header {
	margin: 0 0 25px;
}

article .linked {
	position: relative;
	display: block;
	cursor:  help;
	font-size: 1.3em;
	text-transform: uppercase;
	color: #1094cd;
	letter-spacing: 1px;
}

article .linked .link-url {
	position: absolute;
	top: 0;
	left: 60px;
	width: 0;
	display: inline-block;
	color: #ccc;
	white-space: nowrap;
	overflow: hidden;
	text-transform: none;
	-moz-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
	-webkit-transition: width 0.7s;
	-o-transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
	transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

article .meta {
	font-size: 1.1em;
}

article .meta input[type=text] {
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	-webkit-appearance: none;
	border: 0;
	font-family: Monaco, Menlo, "Courier New", Courier, monospace;
	color: #5e5e5e;
}

article footer {
	background-color: #dbdbdb;
	background-color: rgba(0, 0, 0, 0.08);
	font-size: 1.1em;
	padding: 6px 10px;
	overflow: hidden;
}

article img {
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

article img:hover {
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
}

.main img.alignleft {
	float: left;
	display: inline;
	margin: 5px 15px 10px 0;
	padding: 0;
}

.main img.alignright {
	float: right;
	display: inline;
	margin: 5px 0 10px 15px;
	padding: 0;
}

/* @group tags */

ul.tag_box {
	overflow: hidden;
	margin: 0 0 25px;
}

.main ul.tag_box li {
	background: none;
	background: rgba(180, 180, 180, 0.19);
	float: left;
	margin: 0 5px 5px 0;
	padding: 5px;
	list-style: none;
	-webkit-transition: all 0.20s ease-in;
}

.main ul.tag_box li:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition: all 0.20s ease-in;
}

.csstransitions .main ul.tag_box a:link, .csstransitions .main ul.tag_box a:active, .csstransitions .main ul.tag_box a:visited {
	text-decoration: none;
}

.tag_box li span {
	color: #666;
	vertical-align: super;
	font-size: 0.8em;
}

/* @end */

/* @end */

/* @group sidebar */

[role="complementary"] {
	float: right;
	width: 31%;
	font-size: 1.0em;
}

aside a:link, aside a:active, aside a:visited {
	color: #333;
	text-decoration: underline;
}

aside a:focus {
	outline: thin dotted;
}

aside:hover a {
	color: #e982c0;
}

aside a:hover {
	color: #ea44a5;
	text-decoration: underline;
}

aside h2 {
	font-size: 2.3em;
	padding: 15px 0 10px;
} 

aside h3 {
	font-size: 2.0em;
	padding: 5px 0 8px;
} 

aside h4 {
	font-size: 1.7em;
	padding: 5px 0 8px;
}

aside h5 {
	font-size: 1.5em;
	padding: 5px 0 8px;
}

aside h6 {
	font-size: 1.2em;
	padding: 5px 0 8px;
}

aside p, aside blockquote {
	margin-bottom: 1.8em;
	font-size: 1.3em;
	line-height: 1.4em;
}

aside ul {
	margin: 0 0 15px 30px;
}

aside ul li {
	list-style-type: square;
}

aside ol {
	margin: 0 0 15px 30px;
	list-style-type: decimal;
}

aside ol li {
	list-style-type: decimal;
}

aside li {
	margin-bottom: 5px;
	font-size: 1.3em;
	line-height: 1.4em;
}

aside li li {
	font-size: 1em;
}

aside .social {
	margin: 0 auto 25px;
	width: 175px;
}

aside .social li {
	list-style: none;
	display: inline-block;
}

#flickr_badge_uber_wrapper {
	overflow: hidden;
	text-align: center;
}

.flickr_badge_image {
	margin: 0 5px 10px 0;
	float: left;
}

aside .pin-item {
	background: none;
	background: rgba(180, 180, 180, 0.19);
	padding: 10px;
	margin: 0 0 5px;
	-webkit-transition: all 0.20s ease-in;
}

aside .pin-item:hover {
	-webkit-transform: scale(1.03);
	-webkit-transition: all 0.20s ease-in;
}

aside .pin-item p {
	margin-bottom: 0;
}

aside .pin-description {
	color: #777;
	
}

aside .pin-tag {
	display: none;
}

/* @end */

/* @group forms */

label, input[type=button], input[type=submit], button {
	cursor: pointer;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

/* @end */

/* @group code */

article pre {
	background: #f8f8ff;
	margin-bottom: 20px;
	font-family: Monaco, "Courier New", Courier, monospace;
	-webkit-font-smoothing: subpixel-antialiased;	
	overflow: auto;
	font-size: 1.3em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-khtml-border-radius: 0.2em;
	border-radius: 0.2em;
	padding: 24px;
}

/*article pre {
	background-color: #2B2B2B;
	color: #fff;
	position: relative;
	margin: 0 0 25px;
	padding: 24px;
	font-size: .9em;
	line-height: 21px;
	border-bottom: 1px solid black;
	-webkit-font-smoothing: none;
	overflow: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -2px 8px;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -2px 8px;
	-o-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -2px 8px;
	box-shadow: inset rgba(0, 0, 0, 0.3) 0 -2px 8px;
}

pre code {
	color: #fff;
	font-size: 1.3em;
	font-family: Monaco, Menlo, "Courier New", Courier, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
}

pre {
  background: #222128;
}

pre .comment, pre .template_comment, pre .javadoc {
  color: #d7ddff;
}

pre .keyword, pre .ruby .function .keyword {
  color: #56d2ef;
}

pre .function .keyword, pre .sub .keyword, pre .method, pre .list .title {
  color: #cc7833;
}

pre .string, pre .attribute .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date, pre .tex .command {
  color: #e6db63; 
  background-color: rgba(0,0,0, 0.1);
}

pre .subst {
  color: #DAEFA3;
}

pre .regexp {
  color: #4b85da;
}

pre .function .title, pre .sub .identifier, pre .pi, pre .tag .keyword, pre .decorator, pre .ini .title, pre .shebang {
  color: #db5c56;
}

pre .html .tag {
	color: #fff;
}

pre .html .tag .keyword{
	color: #f9266d;
}

pre .html .tag .attribute {
	color: #a6e22e;
}

pre .class .title, pre .smalltalk .class, pre .javadoctag, pre .yardoctag, pre .phpdoc {
  text-decoration: underline;
}

pre .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .number {
  color: #6782d3;
}

pre .params, pre .variable {
  color: #c1c144;
}

pre .css .keyword, pre .pseudo, pre .tex .special {
  color: #e1c96b;
}

pre .css .class {
  color: #edca06;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .rules .value {
  color: #CF6A4C;
}

pre .css .id {
  color: #ec9e00;
}

pre .annotation, pre .apache .sqbracket, pre .nginx .built_in {
  color: #ae81ff;
}

pre .preprocessor {
  color: #8996A8;
}

pre .hexcolor, pre .css .value .number {
  color: #6969fa;
}

pre .css .function {
  color: #DAD085;
}

pre .diff .header, pre .chunk, pre .tex .formula {
  background-color: #0E2231;
  color: #F8F8F8;
  font-style: italic;
}

pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
}

pre .addition {
  background-color: #253B22;
  color: #F8F8F8;
}

pre .deletion {
  background-color: #420E09;
  color: #F8F8F8;
}*/

/* @end */

/* @group footer */

footer[role="contentinfo"] {
	clear: both;
	float: left;
	display: inline;
	margin: 25px 0;
	width: 100%;
}

footer[role="contentinfo"] p {
	color: #666;
	font-size: 1.2em;
}

footer[role="contentinfo"] a:link, footer[role="contentinfo"] a:active, footer[role="contentinfo"] a:visited {
	color: #212121;
	text-decoration: none;
}

footer[role="contentinfo"] a:focus {
	outline: thin dotted;
}

footer[role="contentinfo"] a:hover {
	color: #212121;
	text-decoration: underline;
}

/* @end */

/* @group misc */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

/* Hide from browsers */
.hide, [hidden] {
	display: none;
}

/* Hide from browsers & screenreaders */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide from browsers, available to screenreaders */
.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Hide from browsers & screenreaders, maintain layout */
.invisible { 
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

strong, b, th {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

/*pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 *!/
  white-space: pre-wrap; /* CSS 2.1 *!/
  word-wrap: break-word; /* IE *!/
}*/

::-moz-selection {
	background: #62aaf2;
	color:#fff;
	text-shadow: none;
}

::selection {
	background:#62aaf2;
	color:#fff;
	text-shadow: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

audio:not([controls]) {
	display: none;
}

/* @end */

@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}