/*
 * Coda theme for SyntaxHighlighter
 *
 * SyntaxHighlighter by Alex Gorbatchev
 * http://alexgorbatchev.com/
 *
 * Coda theme by David Chambers
 * http://davidchambersdesign.com/
 * { last updated: 4 April 2010 }
 */

div.syntaxhighlighter,
div.syntaxhighlighter div,
div.syntaxhighlighter code,
div.syntaxhighlighter .bold,
div.syntaxhighlighter .italic,
div.syntaxhighlighter div.line,
div.syntaxhighlighter div.line table tbody tr td.number,
div.syntaxhighlighter div.line table tbody tr td.content,
div.syntaxhighlighter div.line table tbody tr td.content code.spaces,
div.syntaxhighlighter div.bar,
div.syntaxhighlighter div.toolbar,
div.syntaxhighlighter div.toolbar a,
div.syntaxhighlighter div.toolbar a:hover
{
	line-height: 1.167em !important;
	font-family: "Andale Mono", Courier, monospace !important;
	font-weight: normal !important;
}

div.syntaxhighlighter
{
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	width: auto !important;
	border: 1px solid #ccc !important;
	background: #f2f2f2 url(bg.png) repeat-y 2.5em 0 !important;
	padding: 0 !important;
	font-size: 1.0em !important;
	overflow: hidden !important;
}

li div.syntaxhighlighter
{
	top: -0.583em !important;
	margin: 1.167em 0 -1px 0 !important;
}

div.syntaxhighlighter.nogutter
{
	background: #fff !important;
}

div.syntaxhighlighter div.toolbar
{
	border-left: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	background-color: #f2f2f2 !important;
	padding: 2px 5px 2px 0 !important;
}

div.syntaxhighlighter div.toolbar a.item
{
	margin-left: 5px !important;
}

div.syntaxhighlighter div.toolbar a.item:hover, div.syntaxhighlighter div.toolbar a.item:active
{
	border-bottom: none !important;
}

div.syntaxhighlighter.collapsed div.toolbar
{
	border-left: none !important;
	border-bottom: none !important;
	padding: 0 !important;
	font: 1.0em/1.667em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div.syntaxhighlighter.collapsed div.toolbar a,
div.syntaxhighlighter.collapsed div.toolbar a:hover
{
	font: 1.0em/1.667em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

div.syntaxhighlighter div.lines
{
	padding: 0.25em 0 !important;
}

div.syntaxhighlighter div.line table tbody tr td.number
{
	width: 3.0em !important;
	padding-right: 0 !important;
	font-size: 0.833em !important;
	line-height: 1.4em !important;
	color: #939393 !important;
}

div.syntaxhighlighter div.line.highlighted table tbody tr dt.number
{
	color: #494949 !important;
}

div.syntaxhighlighter div.line table tbody tr td.number code
{
	width: 2.4em !important;
	line-height: 1.4em !important;
}

div.syntaxhighlighter div.line table tbody tr td.content
{
	margin-left: 2.583em !important;
	padding-left: 0.5em !important;
	color: #000 !important;
}

div.syntaxhighlighter div.line.highlighted.alt1 table tbody tr td.content,
div.syntaxhighlighter div.line.highlighted.alt2 table tbody tr td.content
{
	background-color: #b5d5ff !important;
}

div.syntaxhighlighter.printing div.line table tbody tr td.content
{
	border: 0 !important;
}

div.syntaxhighlighter code.plain,
div.syntaxhighlighter code.plain a,
div.syntaxhighlighter code.string,
div.syntaxhighlighter code.string a,
div.syntaxhighlighter code.color1,
div.syntaxhighlighter code.color2,
div.syntaxhighlighter code.constants,
div.syntaxhighlighter code.decorator,
div.syntaxhighlighter code.functions,
div.syntaxhighlighter code.keyword,
div.syntaxhighlighter code.preprocessor,
div.syntaxhighlighter code.value,
div.syntaxhighlighter code.variable,
div.syntaxhighlighter code.variable.bold
{
	font-style: normal;
	color: #000 !important;
}

div.syntaxhighlighter code.script         { color: #d00 !important; } /* script tags inside html e.g. <?php */

/* css */

div.syntaxhighlighter code.css-attribute  { color: #9b4400 !important; }
div.syntaxhighlighter code.css-color      { color: #760f15 !important; }
div.syntaxhighlighter code.css-comment    { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.css-digit      { color: #00f !important; }
div.syntaxhighlighter code.css-keyword    { color: #881350 !important; } /* I've opted for #881350 rather than #88134f for consistency's sake */

/* html/xml */

div.syntaxhighlighter code.xml-attname    { color: #994500 !important; }
div.syntaxhighlighter code.xml-attvalue   { color: #1a1aa6 !important; }
div.syntaxhighlighter code.xml-comment    { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.xml-equals     { color: #881280 !important; }
div.syntaxhighlighter code.xml-tag        { color: #881280 !important; }

/* java */

div.syntaxhighlighter code.java-character { color: #00f !important; }
div.syntaxhighlighter code.java-class     { color: #408 !important; }
div.syntaxhighlighter code.java-comment   { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.java-function  { color: #003369 !important; }
div.syntaxhighlighter code.java-keyword   { color: #881350 !important; }
div.syntaxhighlighter code.java-number    { color: #00f !important; }
div.syntaxhighlighter code.java-string    { color: #760f15 !important; }

/* javascript */

div.syntaxhighlighter code.js-comment     { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.js-function    { color: #003369 !important; }
div.syntaxhighlighter code.js-keyword     { color: #881350 !important; }
div.syntaxhighlighter code.js-number      { color: #00f !important; }
div.syntaxhighlighter code.js-string      { color: #760f15 !important; }

/* php */

div.syntaxhighlighter code.php-comment    { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.php-constant   { color: #a1617a !important; }
div.syntaxhighlighter code.php-custfunc   { color: #003369 !important; }
div.syntaxhighlighter code.php-function   { color: #661aa9 !important; }
div.syntaxhighlighter code.php-keyword    { color: #881350 !important; }
div.syntaxhighlighter code.php-numval     { color: #00f !important; }
div.syntaxhighlighter code.php-tag        { color: #d00 !important; }
div.syntaxhighlighter code.php-string     { color: #eB7300 !important; }
div.syntaxhighlighter code.php-variable   { color: #825900 !important; }
div.syntaxhighlighter code.php-varinstr   { color: #c94b16 !important; }

/* python */

div.syntaxhighlighter code.py-attribute   { color: #f00 !important; }
div.syntaxhighlighter code.py-constant    { color: #881350 !important; }
div.syntaxhighlighter code.py-exception   { color: #f79600 !important; }
div.syntaxhighlighter code.py-function    { color: #408 !important; }
div.syntaxhighlighter code.py-keyword     { color: #881350 !important; }
div.syntaxhighlighter code.py-method      { color: #f00 !important; }
div.syntaxhighlighter code.py-mlcomment   { color: #760f15 !important; }
div.syntaxhighlighter code.py-number      { color: #00f !important; }
div.syntaxhighlighter code.py-slcomment   { color: #236e25 !important; font-style: italic !important; }
div.syntaxhighlighter code.py-string      { color: #760f15 !important; }
div.syntaxhighlighter code.py-type        { color: #00b301 !important; }
