  <div role="complementary" class="large-3 columns">
    <div class="row">
      <div class="large-12 columns">
        <p style="line-height: 1.4; font-size: 0.8em;"><img src="/images/avatar.jpg" style="width: 80px; border-radius: 150px;max-width: 100px;min-width: 50px;float: left;margin: 6px 10px 0 0;">I'm <a href="/about.html" title="About James Fleeting">James Fleeting</a>, a web developer in Austin, Texas. I specialize in front-end development with a passion for HTML, CSS, JavaScript and currently the Sr. Front End Developer at <a href="http://monkee-boy.com">Monkee Boy</a>. My obsession for the future of the web pushes me to never stop learning and this blog is where I share that information. You can also find me on <a href="http://twitter.com/fleetingftw" title="@fleetingftw">twitter</a> where I post mostly what I'm eating in 140 characters. When I'm not working, I can be found playing tabletop games, video games, watching movies, exploring Austin or spending time with my wife and kids.</p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <ul class="navigation">
          <li class="current"><a href="/">Blog</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/archive.html">Archive</a></li>
        </ul>
      </div>
    </div>
  </div>
