<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<title>{{ page.title }}</title>

	<link rel="author" href="/humans.txt">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed/">

	<link rel="stylesheet" href="/css/style.min.css?v=1">

	<script src="/js/modernizr.js"></script>
</head>
<body>
  <!-- Target for toggling the sidebar `.menu-checkbox` is for regular
     styles, `#menu-checkbox` for behavior. -->
	<input type="checkbox" class="menu-checkbox" id="menu-checkbox">

	<div class="menu" id="menu">
	  <div class="menu-item">

	  </div>

	  <nav class="menu-nav">
			<a class="menu-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Blog</a>
	    <a class="menu-nav-item{% if page.title == "About" %} active{% endif %}" href="/about.html">About</a>
			<a class="menu-nav-item{% if page.title == "Currently" %} active{% endif %}" href="/currently.html">Currently</a>
			<a class="menu-nav-item{% if page.title == "Projects" %} active{% endif %}" href="/projects.html">Projects</a>
			<a class="menu-nav-item{% if page.title == "Archive" %} active{% endif %}" href="/archive.html">Archive</a>
	  </nav>
	</div>

	<div class="wrap">
	  <header role="banner" class="row full-width">
	    <div class="large-12 columns">
				<label for="menu-checkbox" class="menu-toggle"></label>

	      <h1>iwasasuperhero</h1>
	    </div>
	  </header>

	  <div class="row">
			<div role="main" class="large-8 columns">
	    	{{ content }}
			</div>

			<div role="complementary" class="large-4 columns">
				<div class="row">
					<div class="large-12 columns">
						<ul class="social">
							<li><a href="http://feeds.feedburner.com/paperkilledrock" title="Subscribe to RSS"><img src="/images/icons/rss_32.png" alt="rss feed"></a></li>
							<li><a href="http://twitter.com/fleetingftw" title="@fleetingftw on twitter"><img src="/images/icons/twitter_32.png" alt="twitter profile"></a></li>
							<li><a href="https://plus.google.com/113054978318615255520/" title="Google+ Profile"><img src="/images/icons/googleplus_32.png" alt="google+ profile"></a></li>
							<li><a href="http://instagram.com/fleeting" title="@fleeting on instagram"><img src="/images/icons/instagram_32.png" alt="instagram profile"></a></li>
							<li><a href="http://github.com/jamesfleeting" title="GitHub Repos"><img src="/images/icons/github_32.png" alt="github profile"></a></li>
							<li><a href="http://www.linkedin.com/in/fleeting" title="Connect with me on Linkedin"><img src="/images/icons/linkedin_32.png" alt="linkedin profile"></a></li>
							<li><a href="http://fleetingftw.com/" title="Tumblr Posts"><img src="/images/icons/tumblr_32.png" alt="tumblr blog"></a></li>
							<li><a href="http://www.flickr.com/photos/twofivethreetwo/" title="twofivethreetwo on flickr"><img src="/images/icons/flickr_32.png" alt="flickr stream"></a></li>
							<li><a href="http://pinboard.in/u:fleeting" title="Pinboard Bookmarks"><img src="/images/icons/pinboard_32.png" alt="pinboard profile"></a></li>
							<li><a href="http://www.last.fm/user/freak2532" title="Last.fm Profile"><img src="/images/icons/lastfm_32.png" alt="last.fm profile"></a></li>
						</ul>
					</div>
				</div> <!-- .row -->

				<div class="row">
					<div class="large-12 columns">
						<p style="line-height: 1.4; font-size: 0.8em;"><img src="/images/avatar.jpg" class="avatar">I'm <a href="/about.html" title="About James Fleeting">James Fleeting</a>, a web developer in Austin, Texas. I specialize in front-end development with a passion for HTML, CSS, JavaScript and currently the Sr. Front End Developer at <a href="http://monkee-boy.com">Monkee Boy</a>. My obsession for the future of the web pushes me to never stop learning and this blog is where I share that information. You can also find me on <a href="http://twitter.com/fleetingftw" title="@fleetingftw">twitter</a> where I post mostly what I'm eating in 140 characters or less. When I'm not working, I can be found playing tabletop games, video games, watching movies, exploring Austin or spending time with my wife and kids.</p>
					</div>
				</div> <!-- .row -->

				<div class="row">
					<div class="large-12 columns">
						<h2>Some Projects</h2>

						<div class="aside-section">
							<ul>
								<li><a href="http://simpleweather.js/" title="simpleWeather.js">simpleWeather</a>: A simple jQuery plugin to display the current weather information for any location using Yahoo! Weather.</li>
								<li><a href="http://getdrought.com" title="Drought">Drought</a>: Another boilerplate is exactly what the web needs. There are many, this is mine.</li>
								<li><a href="https://github.com/fleeting/dotfiles" title="DotFiles">dotfiles</a>: A repo to store some of my dotfiles.</li>
								<li><a href="https://chrome.google.com/webstore/detail/nmnkdhjpjhggaaicdmafongigfhogcml" title="Last.fm New Releases">Last.fm New Releases</a>: Chrome Extension that displays the new releases from your favorite artists as pulled from last.fm</li>
								<li><a href="http://simplelastfm.monkeecreate.com/" title="simpleLastFM">simpleLastFM</a>: A jQuery plugin that displays what your listening to, top artists, albums and more from your last.fm profile.</li>
								<li><a href="https://github.com/fleeting/simpleGitHub" title="simpleGitHub">simpleGitHub</a>: jQuery plugin that lets you create GitHub widgets to display your repos, profile and more.</li>
								<li><a href="https://github.com/fleeting/vcard" title="vCard">vCard</a>: a simple vCard template.</li>
								<li><a href="http://sevenpl.us/" title="Seven+">Seven+</a>: A web app for creating and studying your own flash cards.</li>
								<li><a href="http://threee.monkeecreate.com" title="Threee">Threee</a>: A daily photo project. Three people taking a photo every day with their iPhone.</li>
								<li>Find more projects on my <a href="https://github.com/fleeting" title="Github">github</a> and at <a href="http://monkeecreate.com/" title="monkeeCreate">monkeeCreate</a>.</li>
							</ul>
						</div>
					</div>
				</div> <!-- .row -->

				<div class="row">
					<div class="large-12 columns">
						<h2>Recent Bookmarks</h2>

						<div class="aside-section">
							<script language="javascript" src="http://pinboard.in//widgets/v1/linkroll/?user=fleeting&count=4"></script>
							<p class="right"><a href="http://pinboard.in/u:fleeting" title="fleeting's pinboard">Check out my pinboard!</a></p>
						</div>
					</div>
				</div> <!-- .row -->
			</div> <!-- /complementary .large-4 -->
	  </div> <!-- .row -->

	  <footer class="row">
	    <div class="large-12 columns">
	      &copy; James Fleeting, iwasasuperhero.com, @fleetingftw.
	    </div>
	  </footer>
	</div> <!-- .wrap -->

	<script src="/js/app.min.js"></script>
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
