<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<title>{{ page.title }}</title>

	<link rel="author" href="/humans.txt">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed/">

	<link rel="stylesheet" href="/css/style.min.css?v=1">

	<script src="/js/modernizr.js"></script>
</head>
<body>
  <header role="banner" class="row full-width">
    <div class="large-12 columns">
      <h1>iwasasuperhero</h1>
    </div>
  </header>

  <div class="row">
    {{ content }}

		{% include sidebar.html %} <!-- .large-3 columns -->
  </div>

  <footer class="row">
    <div class="large-12 columns">
      &copy; James Fleeting, iwasasuperhero.com, @fleetingftw.
    </div>
  </footer>

	<script src="/js/app.min.js"></script>
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
